{% extends "base.html" %}
{% block title %}
    <title>新增單字集</title>
{% endblock %}
{% block content %}
<h1 class="mt-5 mb-4 ml-1">新增單字集</h1>
<form action="." method="POST" class="Set-form m-5">
    {% csrf_token %}
    {{ set_form.as_p }}
    <div>
        <label class = "letter" for='word'>英文</label>
        <input type="text" name="word">
        <label class = "letter" for='chinese'>中文</label>
        <input type="text" name="chinese">
        <button onclick="delete_word(event)" class="btn bg-warning m-2">刪除</button>
    </div>
    <div>
        <label class = "letter" for='word'>英文</label>
        <input type="text" name="word">
        <label class = "letter" for='chinese'>中文</label>
        <input type="text" name="chinese">
        <button onclick="delete_word(event)" class="btn bg-warning m-2">刪除</button>
    </div>
    <span id="filedSpace"></span>
    <button type="submit" class="save btn bg-warning m-2">儲存</button>
</form>
<div>
    <button onclick="add_word()" class="btn bg-warning ml-5">增加單字</button>
</div>
<script>
function add_word(){
        let div = document.createElement("div")
        div.innerHTML = '<div>' +
        '<label for="word">英文</label>' + ' ' +
        '<input type="text" name="word">' + ' ' +
        '<label for="chinese">中文</label>' + ' ' +
        '<input type="text" name="chinese">' + ' ' +
        '<button onclick="delete_word(event)" class="btn bg-warning m-2">刪除</button>' +
        '</div>'
        document.getElementById("filedSpace").appendChild(div)
}
function delete_word(e){
    let file = e.target.parentNode.parentNode
    let del_div = e.target.parentNode
    file.removeChild(del_div)
}
</script>
{% endblock %}