{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>單字集 {{ set.set_name }}</title>
{% endblock %}

{% block content %}
{% csrf_token %}

{% if request.user.is_authenticated %}
    <div class="text-right mr-5 d-inline-blick">
        <a href="{% url 'set_edit' pk=set.pk %}" class="btn bg-warning text-dark mt-5">新增、修改單字</a>
        <a href="{% url 'set_delete' pk=set.pk%}" class="btn bg-warning text-dark mt-5">删除單字集</a>
    </div>  
{% endif %}

<!-- show all -->
    <div id="show_all" class="group Offercards text-center m-auto">
        {% for word in word_list %}
        <div class="m-2 text-center cards bg-white">
            <div class="bg-warning">
                <div class="card-wrapper">
                    <div class="card-front bg-warning">
                        <p class="size-3">{{ word.chinese }}</p>
                    </div>
                    <div class="card-back bg-warning">
                        <p>{{ word.word }}</p>
                    </div>
                </div>
                <button class="btn bg-warning rounded-top" id="{{ word.id }}" onclick="toggle_completed({{ word.id }})">
                    {% if word.completed == True %}
                    <img src="https://img.icons8.com/metro/24/000000/checked.png"/>
                    {% else %}
                    <img src="https://img.icons8.com/material-two-tone/24/000000/circled.png"/> 
                    {% endif%}
                </button>
            
            </div>
            <button class="cardBtn btn bg-warning ml-3">></button>
            
        </div>
        {% empty %}
            <p>還沒有單字哦</p>
        {% endfor %}
        
    </div>

<script src="{% static 'word_set/cards.js' %} "></script>

{% endblock%}