{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>{{ set.set_name }}</title>
{% endblock %}
{% block content %}
<h1 class="mt-5 mb-4 ml-1">修改單字集</h1>
<div class="d-flex align-items-start">
<form action="." method="POST" class="Set-form m-5">
    {% csrf_token %}
    {{ set_form.as_p }}
    {% for words in word_list %}
        <div>
            <label for='word'>英文</label>
            <input type='text' id='word' name='word' value="{{ words.word }}" required="required">
            <label for='chinese'>中文</label>
            <input type='text' id='chinese' name='chinese' value="{{ words.chinese }}" required="required">
            <button onclick="delete_word(event)" class="btn bg-warning m-2">刪除</button>
        </div>
    {% endfor %}
    <span id="filedSpace"></span>
    <button type="submit" class="save btn bg-warning m-2">儲存</button>
</form>
<div class="m-2">
    <button onclick="addRow()" class="btn bg-warning ml-5">增加單字</button>
</div>
</div>
<script src="{% static 'word_set/edit_cards.js' %} "></script>

{% endblock %}