{% extends "base.html" %}
{% block title %}
    <title>{{ set.set_name }}</title>
{% endblock %}
{% block content %}
<h1>修改單字集</h1>
<form action="." method="POST" class="Set-form">
    {% csrf_token %}
    {{ set_form.as_p }}
    {% for words in word_list %}
        <div>
            <label for='word'>英文</label>
            <input type='text' id='word' name='word' value="{{ words.word }}">
            <label for='chinese'>中文</label>
            <input type='text' id='chinese' name='chinese' value="{{ words.chinese }}">
        </div>
    {% endfor %}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock%}