{% extends "base.html" %}
{% block title %}
    <title>我的單字集</title>
{% endblock %}
{% block content %}
<a href="{% url 'set_new' %}" class="btn btn-warning mt-5">新增單字集</a>
<div class="card-deck">
    {% for set in set_list%}
        <div class="card m-5">
            <div class="card-body text-center">
            <h2><a href="{% url 'cards' pk=set.pk %}" class="text-warning">{{ set.set_name }}</a></h2>
            <p></p>
        </div>
        </div>
    {% empty %}
        <p>還沒有單字集哦</p>
    {% endfor %}
</div>
{% endblock%}