*{
    margin:0;
    padding:0;
}
.group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    border:black;
    }
.card-wrapper {
    width: 300px;
    height: 200px;
    margin: 10px;
    position: relative;
    }
.card-wrapper .card-front, 
.card-wrapper .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: rgb(235, 116, 135); */
    line-height: 200px;
    text-align: center;
}
/* .card-wrapper .card-back {   
    background-color: pink; 
} */
.card-wrapper p{
    font-size: 3rem;
}

.card-wrapper .card-front_flip {
    animation: flip-front .5s 1 forwards;
    backface-visibility: hidden;
}
.card-wrapper .card-back_flip {
    animation: flip-back .5s 1 forwards;
    backface-visibility: hidden;
}

@keyframes flip-front {
    0% {
        transform: rotateY(0deg); }
    100% {
        transform: rotateY(180deg); } 
}
@keyframes flip-back {
    0% {
        transform: rotateY(180deg); }
    100% {
        transform: rotateY(0deg); } 
}
/* 切換卡片 */
.Offercards {
    height: 300px;
    width: 400px;
    position: relative;
}
.Offercards .cards {
    /* background-color: #fff; */
    transition: all 0.2s linear;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: center;
    align-items: center;
}
